.form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 180px auto 0px auto;

}

.header {
  text-align: center
}

.suggest {
  display: flex;
  justify-content: center
}

.submit {
  align-self: center;
}