.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-height: 656px;
}

.list {
  composes: elements;
  margin: 0;
  padding-left: 0;
  max-height: calc(100vh - 524px);
  overflow-y: scroll;
}

.info {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  align-items: center;
  position: absolute;
  flex-direction: row;
  bottom: 0;
  right: 0;
  margin-bottom: 52px;
}

.price {
  /* composes: info; */
}

.constructor {
  display: flex;
  flex-direction: column;
  position: relative;
}