.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
}

.wrapper {
  max-height: 66.29vh;
  overflow-y: scroll;
}


.activeTab {
  color: brown;
}

.tabs {
  display: flex;
}