.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  z-index: 1;
}

.title {
  min-width: 640px;
}

.image {
  width: 480px;
  height: 240px;
}

.nutritionList {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.nutritionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px
}

.closeIcon {
  cursor: pointer;
}

.header {
  text-align: center;
}